---
import { Image } from "astro:assets";
import type { IGenre, IMovieInfo } from "../types";
import FavoriteButton from "./FavoriteButton";
import Comments from "./Comments";

interface Props {
	movie: IMovieInfo;
}

const { movie } = Astro.props;
---

<div class="flex flex-col gap-y-12 m-auto">
	<div class="flex gap-20 w-full mt-5">
		<div class="relative hidden lg:block">
			<Image
				src={import.meta.env.PUBLIC_IMAGES_BASE_URL + movie?.poster_path}
				alt={`Poster of ${movie?.title}`}
				width={288}
				height={288}
				transition:name={`img-${movie.id}`}
			/>
			<div class="absolute top-4 right-4">
				<FavoriteButton client:load transition:name="favorite-button" />
			</div>
		</div>
		<div class="flex flex-col items-center xl:block lg:w-[50%]">
			<div class="flex items-center gap-7">
				<h1
					class="text-4xl font-bold mb-2 text-center lg:text-left"
					transition:name={`title-${movie.id}`}
				>
					{movie?.title}
				</h1>
			</div>
			<p class="italic mb-8 text-gray-500">{movie?.tagline}</p>

			<div class="relative lg:hidden">
				<Image
					src={import.meta.env.PUBLIC_IMAGES_BASE_URL + movie?.poster_path}
					alt={`Poster of ${movie?.title}`}
					width={288}
					height={288}
					transition:name={`img-${movie.id}`}
				/>
				<div class="absolute top-4 right-4">
					<FavoriteButton client:load transition:name="favorite-button" />
				</div>
			</div>

			<div class="my-6 flex flex-wrap" transition:name={`genres-${movie.id}`}>
				{
					movie?.genres.map((genre: IGenre) => (
						<span class="bg-gray-200 text-gray-700 px-2 py-1 rounded-xl text-sm mr-2">
							{genre.name}
						</span>
					))
				}
			</div>

			<p class="text-gray-500 text-sm">
				<span class="font-bold">Release date:</span>
				{movie?.release_date}
			</p>
			<p class="text-gray-500 text-sm">
				<span class="font-bold">Duration:</span>
				{movie?.runtime} min
			</p>
			<p class="text-gray-500 text-sm">
				<span class="font-bold">Rating:</span>
				{movie?.vote_average} / 10
			</p>
			<p class="mt-10 mx-5 sm:mx-0">{movie?.overview}</p>
		</div>
	</div>
	<Comments client:load />
</div>
